node_modules
jspm_packages
bower_components
.idea
.DS_STORE
/app/dist
build/reports
coverage
test/e2e/dist
/app/styles/*.css
/app/styles/*.css.map
/typings
app/export
/dist/
app/dist

app/dist/
app/typings/
