@greenColor: #7bab2e;
@boxHeight: 400px;


.mpc-box {
  
  height: @boxHeight;
  margin: 20px auto 0px auto;
  padding: 20px;
  border: 1px solid @greenColor;
  background-color: lighten(@greenColor, 40%);
  margin-bottom: 20px;
}

.centeredObject {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.separatorOnRight {
    border-top-style: none;
    border-right-style: solid black;
    border-bottom-style: none;
    border-left-style: none;	
}